.App {
  text-align: center;
}

.content-form{
  display: flex;
}

.content{
  display: flex;
  grid-gap: 10px;
}

.content-display-column{
  flex-direction: column;
}

.content__margin-left{
  margin-left: 15px;
}

.form-error{
  color: red;
}
